<div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-5">
          <h2>Gestión de Empresas</h2>
          <h4>Agrega, Edita ó elimina numero de usuarios</h4>
        </div>
        <div class="col-md-1 offset-md-6 mt-4">
          <button type="button" class="btn btn-primary" routerLink="/Crear">Agregar</button>
        </div>
      </div>
      <div class="row mt-5">
        <table class="table">
          <thead>
            <th>No.</th>
            <th>Estado</th>
            <th>Nombre</th>
            <th>E-mail</th>
            <th>Nit</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </thead>
          <tbody>
            <tr *ngFor="let Empresa of ArregloEmpresas" [ngStyle]="{'background-color': Empresa.id % 2 == 0 ? '#5BFF33' : '#00aae4'}">
              <td>{{Empresa.id}}</td>
              <td>{{Empresa.estado}}</td>
              <td>{{Empresa.nombre_comercial}}</td>
              <td>{{Empresa.correo}}</td>
              <td>{{Empresa.nit}}</td>
              <td><button type="button" class="btn btn-primary" routerLink="/Editar/{{Empresa.id}}">Editar</button></td>
              <td><button type="button" class="btn btn-primary">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
